<div [formGroup]="formParent">
  <div formGroupName="dateRange">
    <mat-form-field appearance="fill">
      <input matInput 
        [ngxMatDatetimePicker]="pickerFrom" 
        placeholder="From date & time" 
        formControlName="start"
      >
      <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerFrom [enableMeridian]="true"></ngx-mat-datetime-picker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <input matInput 
        [ngxMatDatetimePicker]="pickerTo" 
        placeholder="To date & time" 
        formControlName="end"
        [min]="start"
      >
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #pickerTo [enableMeridian]="true"></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
</div>